:root {

    /* Coastal Pallet */
    --sky: rgb(201,241,242);
    --ocean: rgb(100,181,193);
    --sunset: rgb(242,159,90);
    --sandy: rgb(226,215,176);
    --rocks: rgb(132,121,104);

    /* Dark Color Pallet */
    --blue: rgb(7,78,103);
    --seablue: rgb(5,135,138);
    --coral: rgb(182,175,157);
    --sand: rgb(255,143,122);
    --pink: rgb(215,204,200);

}

header {
    background-color: var(--ocean);
    color: var(--sky);
    font-size: 50px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.nav a {
    padding: 15px;
    font-size: 30px;
    color: inherit;
    background-color: inherit;
    text-decoration: inherit;
}

nav a:hover {
    color: var(--sunset)
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/cssImages/vbi_skyline.jpg");
    background-repeat: no-repeat;
    object-fit: fill;
    min-height: 250px;
    min-width: fit-content;

}

h1 {
    font-size: 50px;
    color: var(--sunset);
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
    padding: 15px;

}

h2 {
    font-size: 30px;
}

.about {
    background-color: var(--rocks);
    color: var(--sandy);
    font-size: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}

.cliff {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: solid 5px var(--sandy);
    height: 150px;
    width: 125px;
}

#about {
    border-top: double 5px var(--sandy);
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    text-indent: 4ch;
    margin-bottom: 10px;
}

.projects {
    background-color: var(--ocean);
    color: var(--sky);
    font-size: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;

}

.contact {
    background-color: var(--rocks);
    color: var(--sandy);
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;


}

#contact {
    background-color: var(--rocks);
    color: var(--sandy);
    font-size: 25px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}